.hero__parallax {
   transform: translate(-50%, -50%);
   position: absolute;
   left: 50%;
   top: 50%;
   padding: 20px;

   color: var(--white-10);

   h3 {
      font-size: 1.8rem;
      font-weight: 300;
      color: var(--white-10);

      text-shadow: #000 1px 0 10px;
   }
}
