.backToTopButton {
   background: var(--red-40);
   color: var(--white);

   clip-path: circle();
   font-size: 1.5rem;
   padding: 0.2rem;

   display: flex;
   align-items: center;
   justify-content: center;

   position: fixed;
   bottom: 1.25rem;
   right: 1.25rem;
   height: 3.125rem;
   width: 2.5rem;

   z-index: 5;

   animation: backToTopAnimation 0.7s ease-in-out infinite alternate;
}

@keyframes backToTopAnimation {
   0% {
      transform: scale(1);
      filter: brightness(70%);
   }
   100% {
      transform: scale(1.1);
      filter: brightness(100%);
   }
}
